.cstatus {
    position: relative;
    width: 120px;
    height: 55px;
    background-color: black;
    margin-left: 2%;
    margin-top: 2%;
}

.cprofile {
    position: relative;
    width: 120px;
    height: 50px;
    background-color: aqua;
    margin-top: 2%;
    margin-right: 2%;
}

.bg {
    background-image: linear-gradient(180deg, #272065 0%, #841561 100%);
    /* background-color: #841561; */
}